<div class="mt-4">
    <form method="GET" action="news">
        <div class="form-group">
            <label for="search-input">Tu khoa</label>
            <input type="text" name="q" class="form-control" id=":search-input" placeholder="Nhap tu khoa..">
        </div>
        <div class="form-group">
            <label for="gender-input">Tu khoa</label>
            <select name="gender" class="form-control" id=":gender-select">
                <option value="" name="">-chon gioi tinh-</option>
                <option value="male" name="">nam</option>
                <option value="female" name="">nu</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>