<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Pages</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="login-container">
        <div class="form-container">
            <h2>Đăng nhập</h2>

            <form method="POST" action="/">
                <div class="form-group">
                    <label for="name">Tên đầy đủ</label>
                    <input type="text" id="name" name="username" placeholder="VD: Võ Long" required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu</label>
                    <input type="password" id="password" name="password" placeholder="Nhập mật khẩu" required>
                </div>

                <button type="submit" class="btn btn-submit">Dăng nhập</button>
            </form>
            <p> Bạn chưa có tài khoản ?
                <a href="/signup">Đăng kí tại đây</a>
            </p>
        </div>
    </div>
   
    
</body>
</html>